extends layout

block content
  .mockup
    .mockup-header
      h3= siteName || "My Digital Diary"
      div
        if user
          button.btn= user.name
        else
          button.btn Login

    .nav
      ul
        each item in navItems
          li
            a(href=item.url, class=item.active ? "active" : "")= item.text

    .mockup-body
      h2 Search Results
      p Showing results for: <strong>#{query}</strong>

      if resultsCount > 0
        p.results-count Found #{resultsCount} results

        .timeline
          each entry in results
            .timeline-item
              .timeline-date= entry.date
              h4= entry.title
              p= entry.excerpt
              .tag-list
                each tag in entry.tags
                  span.tag= tag
              button.btn
                a(href=`/entry/${entry.id}`) Read More
      else
        p.no-results= noResultsMessage

      .search-actions
        a(href="/").btn Back to Homepage